<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Product status</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <table class="table">
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Product Quality</th>
      <th>Current Status</th>
    </tr>
    <tr>
      <td>33025</td>
      <td>4 Burner Glass Hob - GC1280012 </td>
      <td>1</td>
      <td>

        <ul class="status-history-list">
          <li class="pbs"><p class="txtLight">09/04/2018 17:49:57</p>
            Your item has been delivered</li>
          <li class="pbs"><p class="txtLight">04/04/2018 00:59:12</p>
            Your item has been fulfilled, its shipping is in progress</li>
          <li class="pbs"><p class="txtLight">02/04/2018 19:59:09</p>
            Your item is waiting for fulfillment</li>
          <li class="pbs"><p class="txtLight">02/04/2018 19:57:49</p>
            Your order is pending confirmation</li>
          <li class="pbs"><p class="txtLight">02/04/2018 19:55:26</p>
            Your order payment is processing</li>
        </ul>


      </td>
    </tr>

  </table>
</div><br /><br />

</body>
</html>

