<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../dist/css/bootstrap.css">
  <link rel="stylesheet" href="about.component.scss">

  <!--Jquery & slideshow-->
  <script src="../jquery/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js"></script>

  <link rel="icon" type="image/png" href="../img/logo.png" />
  <title>Global Traders | About</title>

  <script>

    $("#datepicker").datepicker({ minDate: 0 });
  </script>

</head>




<body>

<!--Collapsible navbar for xs, sm, & md sizes only-->
<div class="menubar hidden-lg" data-toggle="collapse" data-target=".dropdown">
  <h3>MENU</h3>
  <img src="../img/btn-white.png" width="40" height="40" class="btnn">
</div>

<div class="dropdown collapse out">
  <ul>
    <a href="../../../index.html"><li>Home</li></a>
    <a href="about.component.html"><li>About us</li></a>
    <a href="../rates/rates.component.html"><li>Rates</li></a>
    <a href="../facilities/facilities.component.scss"><li>Facilities</li></a>
    <a href="../gallery/gallery.component.html"><li>Gallery</li></a>
    <a href="../contact/contact.component.html"><li>Contact</li></a>
  </ul>
</div>
<!--end Collapsible navbar-->


<div class="container-fluid">

  <div class="row">

    <!--start Logo div-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo text-center" id="logo">
      <p class="btn btn-primary right"><a href="login.php">Login</a></p>
      <img src="../img/logo.png" width="100" height="auto" id="logo">
    </div>
    <!--end Logo div-->

    <!--start Header div-->
    <div class="col-lg-12 hidden-md hidden-sm hidden-xs header text-center">
      <ul>
        <li><a href="../../../index.html">Home</a></li>
        <li><a href="../about/about.component.html">About us</a></li>
        <li><a href="../rates/rates.component.html">Rates</a></li>
        <li><a href="../facilities/facilities.component.html">Facilities</a></li>
        <li><a href="../gallery/gallery.component.html">Gallery</a></li>
        <li><a href="../contact/contact.component.html">Contact</a></li>
      </ul>
    </div>
    <!--end Header div-->

    <!--start History div-->
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 history">
      <!--start History div-->
      <h2>Our vision</h2>
      <p> We connect people and improve their lives. And we do it by being uncompromisingly customer-centric and delivering excellence day in and day out. By bringing people together and making life simpler – for our customers, our employees, our investors, and our society – we help make the world a better place.</p>

      <p>Being The Logistics Company for the World goes well beyond our global presence in over 220 countries and territories, or our tireless pioneer spirit when it comes to new markets. It also extends beyond our unique ability to offer a remarkable range of logistics solutions – from mission-critical express deliveries to economical freight transportation, from taking the complexity out of customs to managing the complexity of global supply chains and everything in between.

        We want to be the logistics company people turn to – the first choice not only for all shipping needs, but also the first choice for career and investment opportunities, and being the global benchmark for responsible business practice.</p>
      <br><br>



      <h2 id="reviews"> </h2>
      <div class="team">
        <table border="0">
          <tr>
            <td>
            </td>
            <td>
              <h4>"Community is the power"</h4>
              <p>Lack of specificity around stakeholder identity remains a serious obstacle to the further development of stakeholder theory and its adoption in actual practice by business managers . Nowhere is this shortcoming more evident than in stakeholder theory's treatment of the constituency known as 'community.</p>
            </td>
          </tr>
        </table>
      </div><br>

      <div class="team">
        <table border="0">
          <tr>
            <td>
            </td>
            <td>
              <h4> "Aim to the goal"</h4>
              <p>These days it seems like any idiot with a laptop computer can churn out a business book and make a few bucks. That's certainly what I'm hoping. It would be a real letdown if the trend changed before this masterpiece goes to print.</p>
            </td>
          </tr>
        </table>
      </div><br>

      <div class="team">
        <table border="0">
          <tr>
            <td>
            </td>
            <td>
              <h4>"Spread all over the Country"</h4>
              <p>It is a matter of course and of absolute necessity to the conduct of business, that any discretionary businessman must be free to deal or not to deal in any given case; to limit or withhold the equipment under his control, without reservation. business discretion and business strategy, in fact, has no other means by to work out its aims. So that, in effect, all business sagacity reduces itself in the last analysis to judicious use of sabotage.</p>
            </td>
          </tr>
        </table>
      </div><br>

      <div class="team">
        <table border="0">
          <tr>
            <td>
            </td>
            <td>
              <h4>"Quick and Easy"</h4>
              <p>Creative ideas flourish best in a shop which preserves some spirit of fun. Nobody is in business for fun, but that does not mean there cannot be fun in business.</p>
            </td>
          </tr>
        </table>
      </div><br>

      <div class="team">
        <table border="0">
          <tr>
            <td>
            </td>
            <td>
              <h4>"True entrepreneur"</h4>
              <p>The true entrepreneur is one who thinks laterally, about how to make a second business out of the first.</p>
            </td>
          </tr>
        </table>
      </div><br>

      <div class="team">
        <table border="0">
          <tr>
            <td>
            </td>
            <td>
              <h4>"Creative ideas"</h4>
              <p>Creative ideas flourish best in a shop which preserves some spirit of fun. Nobody is in business for fun, but that does not mean there cannot be fun in business.</p>
            </td>
          </tr>
        </table>
      </div><br><br><br><br>

      <h2>Our Management Team</h2>
      <div class="team">
        <table border="0">
          <tr>
            <td><img src="../img/mg1.jpg" width="500" class="img-responsive hidden-xs hidden-sm teamlogo" alt="Owner photo">
            </td>
            <td>
              <h4>Yasendra  Darshana - Owner & Managing Director</h4>
              <p>

                Every man (who is of sufficient understanding to be responsible for his actions) is supposed to be cognizant of the law, as it is the rule by which every subject of the kingdom is to be governed, and therefore it is his business to know it.
              </p>
            </td>
          </tr>
        </table>
      </div><br>



      <div class="team">
        <table border="0">
          <tr>
            <td><img src="../img/srk-TED-talks-hindi-1.jpg" width="500" class="img-responsive hidden-xs hidden-sm teamlogo" alt="CEO photo">
            </td>
            <td>
              <h4>Irusha  Yujitha - Chief Excutive Officer</h4>
              <p>Creative ideas flourish best in a shop which preserves some spirit of fun. Nobody is in business for fun, but that does not mean there cannot be fun in business.</p>
            </td>
          </tr>
        </table>
      </div><br>

    </div>

    <!--start History div-->
    <!--end History div-->

    <!--start Book div-->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 book right">


      <table border="0" width="95%" height="95%" align="center">
        <!--<form action="roomresults.php" method="POST">-->
        <tr>
          <td>
            <h3>Track your order</h3>
          </td>
        </tr>

        <tr>
          <td>
            <p>Order ID</p>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" name="typename">

            </input>
          </td>
        </tr>
        <tr>
          <td>
            <p>Telephone(used when placing the order)</p>
            <input type="text" class="form-control" name="tel">

            </input>
          </td>

        </tr>
        <tr>
          <td>
            <p>Email</p>
            <input type="text" class="form-control" name="tel">

            </input>
          </td>

        </tr>
        <tr>
          <td><br>

            <!--<input type="submit" class="btn btn-primary" value="Submit">-->

            <input type="button" class="btn btn-primary" value="Submit" onclick=" relocate_home()">

            <script>
              function relocate_home()
              {
                location.href = "trackinfo.html";
              }
            </script>
          </td>
        </tr>
        </form>
      </table>
    </div>
    <!--end Book div-->

    <!--start intro div-->


    <!--start news div-->
    <div class="col-lg-3 hidden-md hidden-sm hidden-xs news">
      <h3>News & Events</h3>
      <ul>
        <li><a href="#">European regulators: We're not ready for new privacy law.</a></li>
        <li><a href="#">Wall Street opens lower ahead of Trump Iran decision</a></li>
        <li><a href="#"> Walmart's grocery delivery partnerships with Uber, Lyft fail to take off</a></li>
        <li><a href="#">Comcast prepares all-cash bid to gate-crash Disney-Fox deal - sources</a></li>
        <li><a href="#">
          Comcast races to secure regulatory, political approval for Sky deal </a></li>
      </ul>

    </div>
    <!--end news div-->

    <!--start Links div-->
    <div class="col-lg-4 col-md-6 hidden-sm hidden-xs links">
      <table border="0" width="80%" height="80%" align="center">
        <tr valign="top">
          <td>
            <ul>
              <li><a href="../../../index.html">Home</a></li>
              <li><a href="../about/about.component.html">About us</a></li>
              <li><a href="../rates/rates.component.html">Rates</a></li>
              <li><a href="../facilities/facilities.component.html">Facilities</a></li>
          </td>
          <td>
            <ul>

              <li><a href="../gallery/gallery.component.html">Gallery</a></li>
              <li><a href="../contact/contact.component.html">Contact us</a></li>

          </td>
        </tr>
      </table>
    </div>
    <!--end Links div-->

    <!--start Links1 div-->
    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 links1">
      <table border="0" width="80%" height="80%" align="center">
        <tr valign="top">
          <td>
            <ul>
              <li>Sign up for newsletter</li>
              <form action="../../../../../BackEnd/application/controllers/emaillist.php" method="POST">
                <li><input type="email" placeholder="Enter your email" name="emailid" required><input type="submit" value="Send"></li>
              </form>
              <li>Get in Touch</li>
            </ul>
            <ul class="social">
              <li><a href="http://www.facebook.com"><img src="../img/fb.png" width="30" height="auto"></a></li>
              <li><a href="http://www.twitter.com"><img src="../img/tw.png" width="30" height="auto"></a></li>
              <li><a href="http://www.linkedin.com"><img src="../img/ta.png" width="30" height="auto"></a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
    <!--end Links1 div-->

    <!--start Links1 div-->
    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 links1">
      <table border="0" width="80%" height="80%" align="center">
        <tr valign="top">
          <td>
            <ul>
              <li>Email: <a href="mailto:#">info@globaltraders.com</a></li>
              <li>Phone : +94 21 2245 665</li>
              <li>Fax : +94 21 2245 665</li>

          </td>
        </tr>
        <tr>
          <td>
            <ul>

              <li>No 54 Beach Road</li>
              <li>Colombo 10</li>
              <li>Sri Lanka</li>



          </td>
        </tr>
      </table>
    </div>
    <!--end Links1 div-->

    <!--start Bottom div-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom">
      <p>&nbsp;&copy;&nbsp;Global Traders 2018 All Riights Reserved</p>
    </div>
    <!--end Bottom div-->
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>



</body>
</html>
